{
  "presets":
    ["es2015", ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "ignore": [
      "node_modules"
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
